.footer .date {
    text-align: center;

}

.footer .social {
    text-align:center;
}

.footer .social a {
    text-decoration: none;
    color:grey;
    padding: 0px 5px;
}

.footer .social a:hover {
    color:#DAA8C7;
}